{% extends '::layout.html.twig' %}

{% block title %}
    <title> @loes </title>
{% endblock %}

{% block header_nav %}

{% endblock %}

{% block sidebar_nav %}
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">


		        <li><a href="{{path('aloes_about')}}"
		        	{% if menu is defined and menu=="about"%}
		        		class="current"
		        	{% endif%}> A propos</a></li>
		        <li><a href="{{path('aloes_credits')}}"
		        	{% if menu is defined and menu=="credits"%}
		        		class="current"
		        	{% endif%}> Credits </a></li>
		        <li><a href="{{path('tableaux_bord')}}"
		        	{% if menu is defined and menu=="tableaux"%}
		        		class="current"
		        	{% endif%}> Tableaux de bord </a></li>




		        <li><a href="{{ path('fos_user_security_login') }}">
		        	 Connexion </a></li>     
		        	         	
		      </ul>
		    </div><!-- /.navbar-collapse -->  
  		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}