{% extends 'IfeAloesBundle:Public:layout.html.twig' %}

{% block content -%}

    <div class='title-two1a col-md-12 col-sm-12'> 
			 Réinitialiser votre mot de passe
	</div> 
	
   	<div class="col-sm-12 block3" style="min-height:500px">
		Il n'est pas possible de réinitialiser votre mot de passe si vous vous identifier à partir de l'annuaire LDAP.
   	<br/><br/>
   	
			<form class="form-inline" action="{{ path('password_re_init') }}" method="post">	
				<div  class="col-sm-12">	
    				{{ form_widget(form.email) }}
    			</div>
    			
				<div  class="col-sm-12">	
					<button type="submit" class="btn  btn-button-cancel ">Ok</button>
				</div>
			</form>   	
   	
   	
   	    
   	</div>
 
{% endblock %}
    
