{% extends 'IfeAloesBundle:Public:layout.html.twig' %}

{% block content -%}

    <div class='title-two1a col-md-12 col-sm-12'> 
			 Réinitialiser votre mot de passe
	</div> 
	
   	<div class="col-sm-12 block3" style="min-height:500px">
	
		{% if msg is defined and msg!=""   %}
				{{ msg }}
		{% endif 						   %}
   	    
   	</div>
 
{% endblock %}
    
