{% extends '::layout.html.twig' %}

{% block content -%}


    <div class='title-one'> Profil</div>

   	<fieldset>
   	Vous ne disposez pas actuellement de profil utilisateur au sein de l'application @loes.
   	Contacter le responsable du site ...
   	</fieldset>
 
{% endblock %}
    
{% block sidebar_nav %}
{% endblock %}

{% block header_nav %}

{% endblock %} 
