{% extends 'IfeAloesBundle:Aloes:layout-outils.html.twig' %}
 
{% import "::macro.html.twig" as macro %}

{% block header_nav %}

    <div class='title-two1a col-md-12 col-sm-12'> 
    	Réglages
    </div>

{% endblock %}

{% block content_10 %}
	
{% endblock %} 
    

